source https://api.nuget.org/v3/index.json
framework: netcoreapp2.2
storage: none

nuget FSharp.Core
// nuget FSharp.Data

// database
// nuget SQLProvider
// nuget System.Data.SqlClient

// Messaging
nuget RabbitMQ.Client